<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://prod-non-telemetry.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/bc1805bf-eab9-4854-93e2-e27517731510/resourceGroups/rg-prod/providers/Microsoft.Web/sites/prod-non-telemetry</ResourceId>
    <UserName>$prod-non-telemetry</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://prod-non-telemetry.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>