<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sm-staging-telemetry-func.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/4a0d40d7-3015-4ae3-a907-a251341bac23/resourceGroups/RSG-NPD-Smartmedic-Staging/providers/Microsoft.Web/sites/SM-Staging-Telemetry-Func</ResourceId>
    <UserName>$SM-Staging-Telemetry-Func</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://sm-staging-telemetry-func.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>